<title>New Tag</title>
<h1>Add New Tag</h1>

<%= render 'form', tag: @tag  %>

<style type="text/css">
      .btn {
      border: none;
      padding: 1em;
      border-radius: 10px;
      background-color: dimgrey;
      color: white;
      text-decoration: none;
      margin-right: 10px;
    }

    .btn:hover {
      color: white;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      background-color: grey;
    }

    a {
      text-decoration: underline;
      color: #465e5e;
    }

    a:hover {
      color: #7aa4a4;
    }
</style>

