<!DOCTYPE html>
<html>
<head>
	<title>about page</title>
</head>
<body>
<h1></h1>
</body>
<div class="fling-minislide" class="center">
	<img src="/slide/about3.png" alt="Slide 3" />
	<img src="/slide/about3.png" alt="Slide 3" />
  	<img src="/slide/about2.png" alt="Slide 2" />
    <img src="/slide/about1.png" alt="Slide 1" />    
</div>
</html>