<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<div style="text-align: center;"> 
    <img src="/register/buyer.png">
</div>
<br>
<%= link_to "Register as Buyer", new_buyer_path, class:'register'%>
<br>
<br>
<br>
<div style="text-align: center;"> 
    <img src="/register/seller.png">
</div>
<br>
<%= link_to "Register as Seller", new_seller_path, class:'register'%>
</body>
</html>