<div class="sign">
	<h1 class="head">Editing Seller</h1>
</div>


<%= render 'form', seller: @seller %>
<br>
<div class="sign">
<%= link_to 'Show', @seller, class:'button2' %> 
<%= link_to 'Back', sellers_path, class:'button2' %>
</div>

	

