<div class="sign">
<h1 class="head">New Seller</h1>	
</div>

<img class="edit" src="/new/airmax.jpg">
<%= render 'form', seller: @seller %>
<% if (seller_logged_in? && current_user.admin?) || (buyer_logged_in? && current_user.admin?) %>
<br>
<div class="sign">
	<%= link_to 'Back', sellers_path, class:'button2' %>
</div>

<% end %>
