<title>About Meg* Clothing</title>
<h1>About Meg* Clothing</h1><br>

<div class="wrapper">
	<div class="column">
		<center><h2>WHO WE ARE</h2></center>
		<p>Trends come and go, but class never goes out of style. <br><br>

		Our clothing line has consistently shown a passion for creating pieces that withstand the test of time. Given the dynamic nature of fashion, we create clothes that always keep up with the latest styles. This classy elegance that the brand carries with its name keep our products at pace with the modern trends. <br><br>

		The choice of fabric, ingenious designs and effortless charms are key ingredients to "Meg*" 's wonderful creations. As the owner and head designer Maricar Tuason puts it, "We make clothes that transcend time and make sure that our clients go home with an item that they can truly treasure" that only emphasise the timeless beauty the brand brings. <br><br>

		Together with the lasting styles come comfort and quality that help keep Meg* afloat. A keen eye on detail and quality is essential to any type of clothing, and we take this seriously. We continue to provide excellent quality and comfort that echoes our desire to be on top. <br><br>

		We top this all off with our remarkable pricing. We make sure that we make it easy for the pockets of our customers yet worth a lot more than what you paid for. Aside from being 100% Filipino made, Meg*'s personal approach in their creations make the perfect balance between quality, design and value. <br><br>

		All of these elements are essential in forming the products that make up our brand and our mission as a company. Now join us in spreading our love and reach more people to beauty!</p>
	</div>
	
</div><br><br>
<style type="text/css">
	h2 {
		font-size: 17px;
		letter-spacing: 3px;
	}


	p { font-size: 11px; }

	.column {
		width: 60%;
	}

	@media only screen and (max-width: 640px) 
	{

		.column {
			width: 80%;
			transform: translateX(-20%);
			margin: 10px;
		}

		.wrapper {
			width: 100%;
		}
	}

</style>

