<title>Contact Us</title>
<h1>Contact Us</h1><br>

		<div class="wrapper">
			<div class="column">
			<center><h2>WHERE TO FIND US</h2>
			<p>Greenhills Shoppesville<br>
				2F Shoppesville, Greenhills San Juan City<br><br>

				Glorietta 4<br>
				2nd level, Glorietta 5 Ayala Center, Makati City<br><br>

				Robinsons Galleria<br>
				3rd level, East wing Robinson Galleria, Pasig City<br><br>

				Market Market!<br>
				2nd level Market! Market! Taguig City<br><br>

				Trinoma<br>
				1st level, M1 Trinoma cor. EDSA Quezon City
			</p></center>
			</div>
			<div class="column">
				<center><h2>HOW TO REACH US</h2><br>
				<p>Facebook: @megclothing</p>
				<p>Instagram: @megclothing</p>
				<p>Email: cruz.megclothing@gmail.com</p><br><br>
				<a href="http://facebook.com/megclothing" style="font-size: 50px;" class="fa fa-lg fa-facebook-square"></a>
				<a href="http://instagram.com/megclothing" style="font-size: 50px;" class="fa fa-lg fa-instagram"></a>
				<a href="http://m.me/megclothing" style="font-size: 50px;" class="fa fa-lg fa-envelope-square"></a>
				</center>
			</div>
		</div>


<style type="text/css">
  	a {
  		text-decoration: underline;
  		color: #465e5e;
  	}

  	a:hover {
  		color: #7aa4a4;
  	}

	h2 {
		font-size: 17px;
		letter-spacing: 3px;
	}


	p { font-size: 11px; }
	
	.column {
		width: 40%;
		float: left;
		height: 260px;
	}

	.wrapper {
		width: 80%;
    	transform: translateX(15%);
    	margin-bottom: 10em;
	}

	@media only screen and (max-width: 640px) 
	{

		.column {
			width: 80%;
			transform: translateX(-12%);
			margin: 10px;
			height: 100%;
		}

		.wrapper {
			width: 100%;
		}
	}

</style>
