<div class="sign">
	<h1 class="head">Editing Product</h1>
</div>


<%= render 'form', product: @product %>
<br>
<div class="sign">
	<%= link_to 'Show', @product, class:'button2' %> 
<%= link_to 'Back', products_path, class:'button2'  %>
</div>

